.stat-charts-main{width:78%;float:left;}
.sidebar-boxes-main{width:20%;float:right; padding-right:20px;}
.chartBox{margin-right: 20px;width:500px; height:220px; float:left;background: #fff; margin-bottom: 20px;}
.chartBoxLarge{margin-right: 20px;float:left;background: #fff; }
/*.sidebar-box{background: none repeat scroll 0 0 #FFFFCC;   border: 1px solid #333333; padding: 5px;margin-bottom: 10px;}*/
.sidebar-box{background:#222;padding:15px;margin-bottom: 15px;font-size: 14px;font-weight: 400;line-height: 18px; color:#EEE;letter-spacing:0.7px;}
.nothingtodo{color:red; font-weight:bold; padding:3%; float:left;}
.sidebar-box h3{color:#fff; padding-top:0; margin-top:0; letter-spacing:0.7px;}
.sidebar-box p{color:#d0d0d0; letter-spacing:0.7px;}
.sidebar-box p a{color:#f6822d;text-decoration:none;font-size: 14px;font-weight: 400;line-height: 18px;}
.inside ul li p{color:#fff;}
.sidebar-box p a:hover{text-decoration:none;}
.chartBox{width:48%; margin:0 2% 2% 0;}
.chartBoxLarge{width:98%; margin-right:2%; margin-bottom:2%;}